<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>NBA Player Success Data</h1>
        </div>
        <div>
            <h2> How to use this API:</h2>
            <h3>Endpoints</h3>
            <ul>
                <li><a href=""{{url_for('')}}">Current Data Endpoint"</li>
            </ul>
        </div>
    </div>
    
</body>
</html>