<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/vendor/venobox/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/styles.css" rel="stylesheet">
    <script>"static/js/main.js"</script>
</head>
<body>
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">
    
          <div class="logo mr-auto">
            <h1 class="text-light"><a href="index.html"><span>NBA</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
    
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/api">API</a></li>
              <li class="drop-down"><a href="#">Visualizations</a>
                <ul>
                  <li><a href="/graph1">Graph 1</a></li>
                  <li><a href="#">Graph 2</a></li>
                  <li><a href="#">Graph 3</a></li>
                </ul>
          </nav><!-- .nav-menu -->
    
        </div>
      </header><!-- End Header -->
</body>
</html>